<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <!-- static -->
    <link rel="stylesheet" href="../CSS/home.css">
</head>
<body>
    <div class="logo">
        <img src="../img/logo.png" alt="">
    </div>

    <hr>

    <div class="button-container">
        <button type="button" class="button text">რეზიუმეს დამატება</button>
    </div>    

    <div class="logo-vat">
        <img src="../img/logo-vat.png" alt="">
    </div>

    
</body>
</html>