<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info 1</title>

    <link rel="stylesheet" href="../CSS/personal-info-1.css">
</head>
<body>
    <div class="main-container">

        <div class="form-1">

            <div class="header">
                <h3>პირადი ინფო</h3>
                <h2>1/3</h2>
                <hr>
                <div class="ellipse"><img src="../img/Ellipse1.png"></div>
                <a href="#"><img src="../img/arrow-left.png"></a>
            </div>

            <div class="full-name">
                <div class="name first">
                    <p class="input-name">სახელი</p>

                    <div class="warning">
                        <div class="correct">
                            <input type="text" class="text-input short" id="first-name-getter" placeholder="ანზორ" onkeyup="firstNameSetter()">
                            <img class="correct-icon" src="../img/correct.png">
                        </div>
                        <img class="warning-icon" src="../img/warning.png">
                    </div>

                    <label class="label">მინიმუმ 2 ასო, ქართული ასოები</label>
                </div>
                <div class="name last">
                    <p class="input-name">გვარი</p>

                    <div class="warning">
                        <div class="correct">
                            <input type="text" class="text-input short" id="last-name-getter" placeholder="მუმლაძე" onkeyup="lastNameSetter()">
                            <img class="correct-icon" src="../img/correct.png">
                        </div>
                        <img class="warning-icon" src="../img/warning.png">
                    </div>

                    <label class="label">მინიმუმ 2 ასო, ქართული ასოები</label>
                </div>
            </div>

            <div class="photo">
                <div class="photo-container-1">
                    <p>პირადი ფოტოს ატვირთვა</p>
                </div>
                <div class="photo-container-2">
                    <button onclick="document.getElementById('file-input').click();">ატვირთვა</button>
                    <input id="file-input" type="file" style="display: none;"> 
                    <img src="../img/warning.png">
                </div>                
            </div>

            <div class="about-me">
                <p class="input-name">ჩემ შესახებ (არასავალდებულო)</p>
                <textarea class="text-input" id="about-getter" rows="5" cols="5" placeholder="ზოგადი ინფო შენ შესახებ" onkeyup="aboutSetter()"></textarea>
            </div>

            <div class="email">
                <div class="name">
                    <p class="input-name">ელ. ფოსტა</p>

                    <div class="warning">
                        <div class="correct">
                            <input type="text" class="text-input long" id="email-getter" placeholder="anzor666@redberry.ge" onkeyup="emailSetter()">
                            <img class="correct-icon" src="../img/correct.png">
                        </div>
                        <img class="warning-icon" src="../img/warning.png">
                    </div>

                    <label class="label">უნდა მთავრდებოდეს @redberry.ge-ით</label>
                </div>
            </div>

            <div class="mobile">
                <div class="name">
                    <p class="input-name">მობილურის ნომერი</p>

                    <div class="warning">
                        <div class="correct">
                            <input type="text" class="text-input long" id="mobile-getter" placeholder="+995 551 12 34 56" onkeyup="mobileSetter()">
                            <img class="correct-icon" src="../img/correct.png">
                        </div>
                        <img class="warning-icon" src="../img/warning.png">
                    </div>
                    <label class="label">უნდა აკმაყოფილებდეს ქართული მობილურის ნომრის ფორმატს</label>
                </div>
            </div>

            <div class="next-class">
                <button class="next-btn">შემდეგი</button>
            </div>

        </div>

    
        <div class="info-response"> 

            <div class="dynamic-text">
                <div class="dynamic-full-name">
                    <h2 id="first-name-setter"></h2>
                    <h2 id="last-name-setter"></h2>
                </div>
                <div class="contact email">
                    <img src="../img/at.png">
                    <p id="email-setter"></p>
                </div>
                <div class="contact phone">
                    <img src="../img/telephone.png">
                    <p id="mobile-setter"></p>
                </div>
                <div class="about-person">
                    <h3>ჩემ შესახებ</h3>
                    <p id="about-setter"></p>
                </div>             
            </div>

            <div class="dynamic-image">
                <img src="../img/anzor.png">
            </div>  
            
            <img class="red-logo" src="../img/red-logo.png">
        </div>
    </div>

    <script src="../JS/keyup.js"></script>
</body>
</html>