<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info 1</title>

    <link rel="stylesheet" href="../CSS/personal-info-1.css">
</head>
<body>
    <div class="main-container">

        <div class="form-1">

            <div class="header">
                <h3>პირადი ინფო</h3>
                <h2>1/3</h2>
                <hr>
                <div class="ellipse"><img src="../img/Ellipse1.png"></div>
                <a href="#"><img src="../img/arrow-left.png"></a>
            </div>

            <div class="full-name">
                <div class="name first">
                    <p class="input-name">სახელი</p>
                    <input type="text" class="text-input short" placeholder="ანზორ">
                    <label class="label">მინიმუმ 2 ასო, ქართული ასოები</label>
                </div>
                <div class="name last">
                    <p class="input-name">გვარი</p>
                    <input type="text" class="text-input short" placeholder="მუმლაძე">
                    <label class="label">მინიმუმ 2 ასო, ქართული ასოები</label>
                </div>
            </div>

            <div class="photo">
                <div class="photo-container-1">
                    <p>პირადი ფოტოს ატვირთვა</p>
                </div>
                <div class="photo-container-2">
                    <button onclick="document.getElementById('file-input').click();">ატვირთვა</button>
                    <input id="file-input" type="file" style="display: none;"> 
                </div>                
            </div>

            <div class="about-me">
                <p class="input-name">ჩემ შესახებ (არასავალდებულო)</p>
                <textarea class="text-input" rows="5" cols="5" placeholder="ზოგადი ინფო შენ შესახებ"></textarea>
            </div>

            <div class="email">
                <div class="name">
                    <p class="input-name">ელ. ფოსტა</p>
                    <input type="text" class="text-input" placeholder="anzor666@redberry.ge">
                    <label class="label">უნდა მთავრდებოდეს @redberry.ge-ით</label>
                </div>
            </div>

            <div class="mobile">
                <div class="name">
                    <p class="input-name">მობილურის ნომერი</p>
                    <input type="text" class="text-input" placeholder="+995 551 12 34 56">
                    <label class="label">უნდა აკმაყოფილებდეს ქართული მობილურის ნომრის ფორმატს</label>
                </div>
            </div>

            <div class="next-class">
                <button class="next-btn">შემდეგი</button>
            </div>

        </div>

    
        <div class="info-response">        
        </div>
    </div>
</body>
</html>